.navbar-header
{
    background-color: rgb(242, 250, 10);
    color:rgb(239, 15, 168);
    font-weight:bolder;
    font-size: 50px;
}
.nav-link{


    tab-size: 100%;
    color:rgb(7, 12, 23);
}

.carousel-item
{
    height: 1700px;
}
body{
    font-family: 'Times New Roman', Times, serif';
}
.margin{
    padding-left: 50px;
}
h3{
    padding-top: 200px;
    font-weight:bolder;
    font-size: 50px;
}
.btn1
{
    border-radius: 50px;
    padding:15px 55px;
    font-size:20px;
    margin-top: 20px;

}